server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: circuit-breaker # nombre de la rama Git que se quiera referenciar
          uri: https://github.com/HenryVelasquezDev/Curso_Microservicios
          search-paths: config-data
  application:
    name: config-service
